<!-- ======= Footer Section ======= -->
<footer class="footer">
        <div class="container">
          <p class="pt-4"><img src="assets/img/footer-logo.svg" class="img-fluid" alt=""></p>
          <div class="row">
              <div class="col-md-6 order-2 order-md-1">&copy; Copyright - Calnetic Inc</div>
              <div class="col-md-6 order-1 order-md-2">
                  <ul>
                      <li><a href="#"><img src="assets/img/linkedin.svg" class="img-fluid" alt=""></a></li>
                      <li><a href="#"><img src="assets/img/facebook.svg" class="img-fluid" alt=""></a></li>
                      <li><a href="#"><img src="assets/img/skype.svg" class="img-fluid" alt=""></a></li>
                  </ul>
              </div>
          </div>
      </div>
</footer>
<!-- ======= Footer Section ======= -->